In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect('quarterly.db')

# with con:
#     cur = con.cursor()
#     cur.execute("SELECT * FROM ABIO")
#     rows = cur.fetchall()
#     for row in rows:
#         print(row)
df = pd.read_sql_query('SELECT * FROM ABIO',con)
print(df)

    id_date fiscalDateEnding reportedCurrency totalRevenue  \
0         1       2020-06-30              USD            0
1         2       2020-03-31              USD            0
2         3       2019-12-31              USD            0
3         4       2019-09-30              USD            0
4         5       2019-06-30              USD            0
5         6       2019-03-31              USD            0
6         7       2018-12-31              USD            0
7         8       2018-09-30              USD            0
8         9       2018-06-30              USD            0
9        10       2018-03-31              USD            0
10       11       2017-12-31              USD            0
11       12       2017-09-30              USD            0
12       13       2017-06-30              USD            0
13       14       2017-03-31              USD            0
14       15       2016-12-31              USD            0
15       16       2016-09-30              USD            0
16       17       2016-06-30              USD            0
17       18       2016-03-31              USD            0
18       19       2015-12-31              USD            0
19       20       2015-09-30              USD            0

   totalOperatingExpense costOfRevenue grossProfit      ebit netIncome  \
0                1310000          None        None  -1308000  -1302000
1                1340000          None        None  -1316000  -1320000
2                1278000          None        None  -1242000  -1226000
3                1247000          None        None  -1197000  -1156000
4                1508000          None        None  -1460000  -1436000
5                1781000          None        None  -1743000  -1664000
6                1527000             0           0  -1489000  -1489000
7                1662000             0           0  -1622000  -1593000
8                2156000             0           0  -2113000  -2116000
9                2773000             0           0  -2732000  -2735000
10               4297000             0           0  -4258000  -4197000
11               4475000             0           0  -4431000  -4433000
12               5559000             0           0  -5520000  -5522000
13               4381000             0           0  -4336000  -4338000
14               4292000             0           0  -4244000  -4244000
15               4712000             0           0  -4659000  -4659000
16               3941000             0           0  -3894000  -3894000
17               3668000             0           0  -3647000  -3647000
18               3175000             0           0  -3168000  -3168000
19               2817000             0           0  -2813000  -2814000

   researchAndDevelopment  ... depreciation dividendPayout  \
0                  372000  ...         1000           None
1                  365000  ...         3000           None
2                  384000  ...         2000           None
3                  347000  ...         5000           None
4                  440000  ...         6000           None
5                  662000  ...         5000           None
6                  625000  ...         5000           None
7                  740000  ...         6000              0
8                 1154000  ...         5000              0
9                 1720000  ...         8000              0
10                2834000  ...        76000              0
11                3488000  ...       115000              0
12                4508000  ...       132000              0
13                3246000  ...       152000              0
14                3121000  ...       157000              0
15                3720000  ...       160000              0
16                2913000  ...       102000              0
17                2594000  ...        62000              0
18                1893000  ...        61000              0
19                1716000  ...        60000              0

   stockSaleAndPurchase changeInInventory changeInAccountReceivables  \
0               5547000              None                       None
1                  None              None                       None
2                 -4000              None                       None
3                683000              None                       None
4               3266000              None                       None
5               2964000              None                       None
6               3532000              None                       None
7               3532000                 0                          0
8                 -1000                 0                          0
9               3416000                 0                          0
10                 7000                 0                          0
11              4033000                 0                          0
12              1958000                 0                          0
13               105000                 0                          0
14                    0                 0                          0
15                    0                 0                          0
16                    0                 0                          0
17                    0                 0                          0
18               -58000                 0                          0
19              -145000                 0                          0

   changeInNetIncome capitalExpenditures changeInReceivables  \
0               4000                3000                None
1              16000                3000                None
2              27000                2000                None
3              29000                2000                None
4              45000                2000                None
5              50000                2000                None
6              58000                2000                None
7              58000                3000                None
8              60000                3000                None
9              97000                1000                None
10            119000                1000                None
11            119000                2000                None
12            119000                2000                None
13            101000                   0                None
14            -29000                4000                None
15            267000                6000                None
16            183000                1000                None
17            155000                1000                None
18            145000                2000                None
19            149000                2000                None

   changeInExchangeRate changeInCashAndCashEquivalents
0                  None                        4367000
1                  None                       -1689000
2                  None                       -1282000
3                  None                        -321000
4                  None                        1960000
5                  None                        1398000
6                  None                       -1448000
7                  None                       -1579000
8                  None                       -2461000
9                  None                        3394000
10                 None                         560000
11                 None                        -959000
12                 None                        2931000
13                 None                       -1231000
14                 None                        -694000
15                 None                       -6284000
16                 None                      -15338000
17                 None                       -9085000
18                 None                       -2680000
19                 None                       -2604000

[20 rows x 100 columns]

In [5]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'

In [6]:
df['fiscalDateEnding']

0     2020-06-30
1     2020-03-31
2     2019-12-31
3     2019-09-30
4     2019-06-30
5     2019-03-31
6     2018-12-31
7     2018-09-30
8     2018-06-30
9     2018-03-31
10    2017-12-31
11    2017-09-30
12    2017-06-30
13    2017-03-31
14    2016-12-31
15    2016-09-30
16    2016-06-30
17    2016-03-31
18    2015-12-31
19    2015-09-30
Name: fiscalDateEnding, dtype: object